# Income Classification using Tensorflow packages

To classify the income >50k or <=50k of an individual on basis of set of parameters given.

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

### THE DATA

In [1]:
import pandas as pd

In [2]:
import tensorflow as tf

In [3]:
data=pd.read_csv('census_data.csv')

In [4]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [5]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

data['income_bracket']=data['income_bracket'].apply(label_fix)

In [6]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [7]:
X=data.drop('income_bracket',axis=1)
y=data['income_bracket']

### Train Test Split on the Data

In [8]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

In [9]:
data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [10]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **
** Create the continuous feature_columns for the continuous values using numeric_column **

In [11]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")
race = tf.feature_column.categorical_column_with_hash_bucket("race", hash_bucket_size=1000)

### Create Input Function

In [12]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=10,num_epochs=1000,shuffle=True)

 Wrap the categorical columns wirth embedded option
 'Items of feature_columns must be a DenseColumn. '
 'You can wrap a categorical column with an '
 'embedding_column or indicator_column. Given: {}'.format(column))

In [13]:
embedded_education = tf.feature_column.embedding_column(education, dimension=16)
embedded_gender = tf.feature_column.embedding_column(gender, dimension=16)
embedded_marital_status = tf.feature_column.embedding_column(marital_status, dimension=16)
embedded_native_country = tf.feature_column.embedding_column(native_country, dimension=16)
embedded_occupation = tf.feature_column.embedding_column(occupation, dimension=16)
embedded_relationship= tf.feature_column.embedding_column(relationship, dimension=16)
embedded_workclass=tf.feature_column.embedding_column(workclass, dimension=16)
embedded_race=tf.feature_column.embedding_column(race, dimension=16)

** Put all these variables into a single list with the variable name feat_cols **

In [14]:
feat_cols = [embedded_gender,embedded_occupation,embedded_marital_status,embedded_relationship,embedded_education,embedded_workclass,embedded_native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week,embedded_race]

In [15]:
dnn_model=tf.estimator.DNNClassifier(hidden_units=[13,13,13,13,13],feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\raprabhu\AppData\Local\Temp\tmpj5bm_hhj
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\raprabhu\\AppData\\Local\\Temp\\tmpj5bm_hhj', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000001DFC3BD6828>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [16]:
dnn_model.train(input_fn=input_func,steps=1000)

WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\feature_column\feature_column_v2.py:2997: HashedCategoricalColumn._num_buckets (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed after 2018-11-30.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\feature_column\feature_column_v2.py:2997: VocabularyListCategoricalColumn._num_buckets (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed after 2018-11-30.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\feature_column\feature_column_v2.py:2703: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\lookup_ops.py:1137: to_int64 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\array_grad.py:425: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\training\monitored_session.py:809: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\raprabhu\AppData\Local\Temp\tmpj5bm_hhj\model.ckpt.
INFO:tensorflow:loss = 27.857765, step = 1
INFO:tensorflow:global_step/sec: 91.3746
INFO:tensorflow:loss = 5.9866714, step = 101 (1.094 sec)
INFO:tensorflow:global_step/sec: 257.7
INFO:tensorflow:loss = 5.3639107, step = 201 (0.388 sec)
INFO:tensorflow:global_step/sec: 231.732
INFO:tensorflow:loss = 6.216591, step = 301 (0.432 sec)
INFO:tensorflow:global_step/sec: 222.423
INFO:tensorflow:loss = 5.2686377, step = 401 (0.451 sec)
INFO:tensorflow:global_step/sec: 223.716
INFO:tensorflow:loss = 4.5584335, step = 501 (0.446 sec)
INFO:tensorflow:global_step/sec: 241.079
INFO:tensorflow:loss = 0.73385197, step = 601 (0.415 sec)
INFO:tensorflow:global_step/sec: 225.931
INFO:tensorflow:loss = 3.5893006, step = 701 (0.443 sec)
INFO:tensorflow:global_step/sec: 232.766
INFO:tensorflow:loss = 3.1936269, step = 801 (0.438 sec)
INFO:tensorflow:global_step/sec: 237.126
INFO:tensorflow:loss = 1.8628498, step = 901 (0.415 sec)
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\raprabhu\AppData\Local\Temp\tmpj5bm_hhj\model.ckpt.
INFO:tensorflow:Loss for final step: 6.708383.

# Evaluate the model with test data

In [17]:
eval_input_func = tf.estimator.inputs.pandas_input_fn(
      x=X_test,
      y=y_test,
      batch_size=10,
      num_epochs=1,
      shuffle=False)

In [18]:
dnn_model.evaluate(input_fn=eval_input_func)

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\metrics_impl.py:2002: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2019-07-16T10:05:41Z
INFO:tensorflow:Graph was finalized.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\training\saver.py:1266: checkpoint_exists (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to check for files with this prefix.
INFO:tensorflow:Restoring parameters from C:\Users\raprabhu\AppData\Local\Temp\tmpj5bm_hhj\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2019-07-16-10:05:46
INFO:tensorflow:Saving dict for global step 1000: accuracy = 0.82239735, accuracy_baseline = 0.7582148, auc = 0.87549525, auc_precision_recall = 0.70647955, average_loss = 0.3689605, global_step = 1000, label/mean = 0.24178524, loss = 3.6892276, precision = 0.64561075, prediction/mean = 0.2804855, recall = 0.58848435
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 1000: C:\Users\raprabhu\AppData\Local\Temp\tmpj5bm_hhj\model.ckpt-1000

{'accuracy': 0.82239735,
 'accuracy_baseline': 0.7582148,
 'auc': 0.87549525,
 'auc_precision_recall': 0.70647955,
 'average_loss': 0.3689605,
 'label/mean': 0.24178524,
 'loss': 3.6892276,
 'precision': 0.64561075,
 'prediction/mean': 0.2804855,
 'recall': 0.58848435,
 'global_step': 1000}

# Accuracy of the Model using  DNN is around 80%

# Method # 2 using TF Linear Classifier

In [19]:
feat_columns = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week,race]

In [20]:
model = tf.estimator.LinearClassifier(feature_columns=feat_columns)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\raprabhu\AppData\Local\Temp\tmp7v7045ap
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\raprabhu\\AppData\\Local\\Temp\\tmp7v7045ap', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000001DFC5E50EB8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [21]:
model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\raprabhu\AppData\Local\Temp\tmp7v7045ap\model.ckpt.
INFO:tensorflow:loss = 6.931472, step = 1
INFO:tensorflow:global_step/sec: 102.503
INFO:tensorflow:loss = 153.2778, step = 101 (0.976 sec)
INFO:tensorflow:global_step/sec: 231.614
INFO:tensorflow:loss = 15.12995, step = 201 (0.432 sec)
INFO:tensorflow:global_step/sec: 226.135
INFO:tensorflow:loss = 2.7111907, step = 301 (0.442 sec)
INFO:tensorflow:global_step/sec: 225.641
INFO:tensorflow:loss = 1.7613637, step = 401 (0.443 sec)
INFO:tensorflow:global_step/sec: 245.668
INFO:tensorflow:loss = 47.536163, step = 501 (0.407 sec)
INFO:tensorflow:global_step/sec: 224.874
INFO:tensorflow:loss = 4.6477304, step = 601 (0.448 sec)
INFO:tensorflow:global_step/sec: 236.786
INFO:tensorflow:loss = 3.0754733, step = 701 (0.421 sec)
INFO:tensorflow:global_step/sec: 235.349
INFO:tensorflow:loss = 262.4185, step = 801 (0.423 sec)
INFO:tensorflow:global_step/sec: 231.901
INFO:tensorflow:loss = 119.60241, step = 901 (0.431 sec)
INFO:tensorflow:global_step/sec: 235.153
INFO:tensorflow:loss = 21.402575, step = 1001 (0.425 sec)
INFO:tensorflow:global_step/sec: 235.489
INFO:tensorflow:loss = 12.586476, step = 1101 (0.425 sec)
INFO:tensorflow:global_step/sec: 240.139
INFO:tensorflow:loss = 8.28107, step = 1201 (0.416 sec)
INFO:tensorflow:global_step/sec: 233.968
INFO:tensorflow:loss = 4.276786, step = 1301 (0.435 sec)
INFO:tensorflow:global_step/sec: 207.891
INFO:tensorflow:loss = 3.7290912, step = 1401 (0.476 sec)
INFO:tensorflow:global_step/sec: 235.866
INFO:tensorflow:loss = 0.4639813, step = 1501 (0.422 sec)
INFO:tensorflow:global_step/sec: 239.957
INFO:tensorflow:loss = 10.114542, step = 1601 (0.417 sec)
INFO:tensorflow:global_step/sec: 232.308
INFO:tensorflow:loss = 10.995145, step = 1701 (0.432 sec)
INFO:tensorflow:global_step/sec: 234.364
INFO:tensorflow:loss = 11.930252, step = 1801 (0.425 sec)
INFO:tensorflow:global_step/sec: 240.117
INFO:tensorflow:loss = 139.68529, step = 1901 (0.416 sec)
INFO:tensorflow:global_step/sec: 230.901
INFO:tensorflow:loss = 200.60646, step = 2001 (0.433 sec)
INFO:tensorflow:global_step/sec: 235.13
INFO:tensorflow:loss = 0.89168465, step = 2101 (0.425 sec)
INFO:tensorflow:global_step/sec: 235.168
INFO:tensorflow:loss = 9.512763, step = 2201 (0.425 sec)
INFO:tensorflow:global_step/sec: 232.608
INFO:tensorflow:loss = 1.1536059, step = 2301 (0.430 sec)
INFO:tensorflow:global_step/sec: 229.325
INFO:tensorflow:loss = 1.813716, step = 2401 (0.436 sec)
INFO:tensorflow:global_step/sec: 230.696
INFO:tensorflow:loss = 0.18780708, step = 2501 (0.433 sec)
INFO:tensorflow:global_step/sec: 240.428
INFO:tensorflow:loss = 3.5476832, step = 2601 (0.416 sec)
INFO:tensorflow:global_step/sec: 239.866
INFO:tensorflow:loss = 6.430057, step = 2701 (0.434 sec)
INFO:tensorflow:global_step/sec: 228.406
INFO:tensorflow:loss = 6.4054613, step = 2801 (0.421 sec)
INFO:tensorflow:global_step/sec: 238.72
INFO:tensorflow:loss = 4.6905704, step = 2901 (0.422 sec)
INFO:tensorflow:global_step/sec: 238.482
INFO:tensorflow:loss = 3.4615395, step = 3001 (0.419 sec)
INFO:tensorflow:global_step/sec: 256.367
INFO:tensorflow:loss = 1.3978357, step = 3101 (0.393 sec)
INFO:tensorflow:global_step/sec: 229.945
INFO:tensorflow:loss = 0.37402433, step = 3201 (0.429 sec)
INFO:tensorflow:global_step/sec: 239.673
INFO:tensorflow:loss = 30.545776, step = 3301 (0.419 sec)
INFO:tensorflow:global_step/sec: 235.397
INFO:tensorflow:loss = 9.963924, step = 3401 (0.426 sec)
INFO:tensorflow:global_step/sec: 246.23
INFO:tensorflow:loss = 55.05509, step = 3501 (0.405 sec)
INFO:tensorflow:global_step/sec: 221.946
INFO:tensorflow:loss = 3.1676745, step = 3601 (0.449 sec)
INFO:tensorflow:global_step/sec: 256.078
INFO:tensorflow:loss = 8.614236, step = 3701 (0.391 sec)
INFO:tensorflow:global_step/sec: 225.358
INFO:tensorflow:loss = 10.612691, step = 3801 (0.446 sec)
INFO:tensorflow:global_step/sec: 247.222
INFO:tensorflow:loss = 2.8095942, step = 3901 (0.420 sec)
INFO:tensorflow:global_step/sec: 229.005
INFO:tensorflow:loss = 1.9655573, step = 4001 (0.421 sec)
INFO:tensorflow:global_step/sec: 236.327
INFO:tensorflow:loss = 7.901361, step = 4101 (0.428 sec)
INFO:tensorflow:global_step/sec: 231.392
INFO:tensorflow:loss = 3.8005497, step = 4201 (0.425 sec)
INFO:tensorflow:global_step/sec: 223.272
INFO:tensorflow:loss = 12.046609, step = 4301 (0.448 sec)
INFO:tensorflow:global_step/sec: 223.965
INFO:tensorflow:loss = 10.054634, step = 4401 (0.446 sec)
INFO:tensorflow:global_step/sec: 247.43
INFO:tensorflow:loss = 1.9132756, step = 4501 (0.411 sec)
INFO:tensorflow:global_step/sec: 223.147
INFO:tensorflow:loss = 1.455542, step = 4601 (0.444 sec)
INFO:tensorflow:global_step/sec: 226.873
INFO:tensorflow:loss = 26.626015, step = 4701 (0.441 sec)
INFO:tensorflow:global_step/sec: 247.805
INFO:tensorflow:loss = 1.9529678, step = 4801 (0.406 sec)
INFO:tensorflow:global_step/sec: 240.859
INFO:tensorflow:loss = 10.545486, step = 4901 (0.430 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\raprabhu\AppData\Local\Temp\tmp7v7045ap\model.ckpt.
INFO:tensorflow:Loss for final step: 3.3580842.

In [22]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

In [23]:
dnn_model.evaluate(input_fn=eval_input_func)

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2019-07-16T10:06:19Z
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\raprabhu\AppData\Local\Temp\tmpj5bm_hhj\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2019-07-16-10:06:24
INFO:tensorflow:Saving dict for global step 1000: accuracy = 0.82239735, accuracy_baseline = 0.7582148, auc = 0.87549525, auc_precision_recall = 0.70647955, average_loss = 0.3689605, global_step = 1000, label/mean = 0.24178524, loss = 3.6892276, precision = 0.64561075, prediction/mean = 0.2804855, recall = 0.58848435
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 1000: C:\Users\raprabhu\AppData\Local\Temp\tmpj5bm_hhj\model.ckpt-1000

{'accuracy': 0.82239735,
 'accuracy_baseline': 0.7582148,
 'auc': 0.87549525,
 'auc_precision_recall': 0.70647955,
 'average_loss': 0.3689605,
 'label/mean': 0.24178524,
 'loss': 3.6892276,
 'precision': 0.64561075,
 'prediction/mean': 0.2804855,
 'recall': 0.58848435,
 'global_step': 1000}

In [24]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\raprabhu\AppData\Local\Temp\tmp7v7045ap\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [25]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

# Both Methods are giving nearly 80% Accuracy

In [26]:
X_test.insert(loc=0, column='Actual', value=y_test)

In [27]:
X_test.insert(loc=0, column='Predicted', value=final_preds)

In [28]:
X_test.head()

,Predicted,Actual,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
22278,0,0,27,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,44,United-States
8950,0,0,27,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States
7838,0,0,25,Private,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States
16505,1,0,46,Private,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,1902,40,United-States
19140,1,1,45,Private,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States

Export the data in a excel to compare the Predicted and actual data for income

In [29]:
X_test.to_csv('to_compare.csv')