# Income Classification using TF method

Working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

### THE DATA

In [1]:
import pandas as pd

In [2]:
import tensorflow as tf

In [3]:
data=pd.read_csv('census_data.csv')

In [4]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [5]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

data['income_bracket']=data['income_bracket'].apply(label_fix)

In [6]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [7]:
X=data.drop('income_bracket',axis=1)
y=data['income_bracket']

### Train Test Split on the Data

In [8]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

In [9]:
data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [10]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **
** Create the continuous feature_columns for the continuous values using numeric_column **

In [11]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")
race = tf.feature_column.categorical_column_with_hash_bucket("race", hash_bucket_size=1000)

** Put all these variables into a single list with the variable name feat_cols **

In [12]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week,race]

### Create Input Function

In [13]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=10,num_epochs=1000,shuffle=True)

In [14]:
embedded_education = tf.feature_column.embedding_column(education, dimension=16)

In [15]:
embedded_gender = tf.feature_column.embedding_column(gender, dimension=16)

In [16]:
embedded_marital_status = tf.feature_column.embedding_column(marital_status, dimension=16)

In [17]:
embedded_native_country = tf.feature_column.embedding_column(native_country, dimension=16)

In [18]:
embedded_occupation = tf.feature_column.embedding_column(occupation, dimension=16)

In [19]:
embedded_relationship= tf.feature_column.embedding_column(relationship, dimension=16)

In [20]:
embedded_workclass=tf.feature_column.embedding_column(workclass, dimension=16)
embedded_race=tf.feature_column.embedding_column(race, dimension=16)

In [21]:
feat_cols = [embedded_gender,embedded_occupation,embedded_marital_status,embedded_relationship,embedded_education,embedded_workclass,embedded_native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week,embedded_race]

In [22]:
dnn_model=tf.estimator.DNNClassifier(hidden_units=[13,13,13,13,13],feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\raprabhu\AppData\Local\Temp\tmpizybqwt8
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\raprabhu\\AppData\\Local\\Temp\\tmpizybqwt8', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000002CF817E5E10>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [23]:
dnn_model.train(input_fn=input_func,steps=1000)

WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\feature_column\feature_column_v2.py:2997: HashedCategoricalColumn._num_buckets (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed after 2018-11-30.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\feature_column\feature_column_v2.py:2997: VocabularyListCategoricalColumn._num_buckets (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed after 2018-11-30.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\feature_column\feature_column_v2.py:2703: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\lookup_ops.py:1137: to_int64 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\array_grad.py:425: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\training\monitored_session.py:809: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\raprabhu\AppData\Local\Temp\tmpizybqwt8\model.ckpt.
INFO:tensorflow:loss = 32.47342, step = 1
INFO:tensorflow:global_step/sec: 183.32
INFO:tensorflow:loss = 4.0151753, step = 101 (0.547 sec)
INFO:tensorflow:global_step/sec: 516.877
INFO:tensorflow:loss = 10.0317, step = 201 (0.192 sec)
INFO:tensorflow:global_step/sec: 498.639
INFO:tensorflow:loss = 2.2368016, step = 301 (0.203 sec)
INFO:tensorflow:global_step/sec: 537.606
INFO:tensorflow:loss = 5.3734756, step = 401 (0.187 sec)
INFO:tensorflow:global_step/sec: 526.302
INFO:tensorflow:loss = 6.9820294, step = 501 (0.189 sec)
INFO:tensorflow:global_step/sec: 534.72
INFO:tensorflow:loss = 2.4581368, step = 601 (0.187 sec)
INFO:tensorflow:global_step/sec: 498.671
INFO:tensorflow:loss = 2.666278, step = 701 (0.199 sec)
INFO:tensorflow:global_step/sec: 447.216
INFO:tensorflow:loss = 4.88, step = 801 (0.224 sec)
INFO:tensorflow:global_step/sec: 522.133
INFO:tensorflow:loss = 4.7710686, step = 901 (0.193 sec)
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\raprabhu\AppData\Local\Temp\tmpizybqwt8\model.ckpt.
INFO:tensorflow:Loss for final step: 3.0142527.

# Evaluate the model with test data

In [24]:
eval_input_func = tf.estimator.inputs.pandas_input_fn(
      x=X_test,
      y=y_test,
      batch_size=10,
      num_epochs=1,
      shuffle=False)

In [25]:
dnn_model.evaluate(input_fn=eval_input_func)

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\metrics_impl.py:2002: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2019-04-23T13:54:39Z
INFO:tensorflow:Graph was finalized.
WARNING:tensorflow:From C:\Users\raprabhu\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\training\saver.py:1266: checkpoint_exists (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to check for files with this prefix.
INFO:tensorflow:Restoring parameters from C:\Users\raprabhu\AppData\Local\Temp\tmpizybqwt8\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2019-04-23-13:54:42
INFO:tensorflow:Saving dict for global step 1000: accuracy = 0.80264103, accuracy_baseline = 0.7582148, auc = 0.87696564, auc_precision_recall = 0.69390553, average_loss = 0.3769602, global_step = 1000, label/mean = 0.24178524, loss = 3.769216, precision = 0.7535047, prediction/mean = 0.26561618, recall = 0.27307367
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 1000: C:\Users\raprabhu\AppData\Local\Temp\tmpizybqwt8\model.ckpt-1000

{'accuracy': 0.80264103,
 'accuracy_baseline': 0.7582148,
 'auc': 0.87696564,
 'auc_precision_recall': 0.69390553,
 'average_loss': 0.3769602,
 'label/mean': 0.24178524,
 'loss': 3.769216,
 'precision': 0.7535047,
 'prediction/mean': 0.26561618,
 'recall': 0.27307367,
 'global_step': 1000}

# Accuracy using DNN # 80%

# Method # 2 using TF Linear Classifier

In [26]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week,race]

In [27]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\raprabhu\AppData\Local\Temp\tmp3e0xg364
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\raprabhu\\AppData\\Local\\Temp\\tmp3e0xg364', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000002CF8351DA20>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [28]:
model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\raprabhu\AppData\Local\Temp\tmp3e0xg364\model.ckpt.
INFO:tensorflow:loss = 6.931472, step = 1
INFO:tensorflow:global_step/sec: 207.412
INFO:tensorflow:loss = 2.3047636, step = 101 (0.483 sec)
INFO:tensorflow:global_step/sec: 524.792
INFO:tensorflow:loss = 3.6252675, step = 201 (0.191 sec)
INFO:tensorflow:global_step/sec: 523.26
INFO:tensorflow:loss = 3.4921062, step = 301 (0.191 sec)
INFO:tensorflow:global_step/sec: 540.431
INFO:tensorflow:loss = 12.154338, step = 401 (0.185 sec)
INFO:tensorflow:global_step/sec: 510.148
INFO:tensorflow:loss = 177.01811, step = 501 (0.196 sec)
INFO:tensorflow:global_step/sec: 549.507
INFO:tensorflow:loss = 1.366975, step = 601 (0.184 sec)
INFO:tensorflow:global_step/sec: 484.246
INFO:tensorflow:loss = 0.7374195, step = 701 (0.204 sec)
INFO:tensorflow:global_step/sec: 511.454
INFO:tensorflow:loss = 29.73278, step = 801 (0.196 sec)
INFO:tensorflow:global_step/sec: 569.785
INFO:tensorflow:loss = 9.378896, step = 901 (0.178 sec)
INFO:tensorflow:global_step/sec: 529.204
INFO:tensorflow:loss = 5.971728, step = 1001 (0.186 sec)
INFO:tensorflow:global_step/sec: 561.883
INFO:tensorflow:loss = 40.328705, step = 1101 (0.180 sec)
INFO:tensorflow:global_step/sec: 566.621
INFO:tensorflow:loss = 49.535954, step = 1201 (0.175 sec)
INFO:tensorflow:global_step/sec: 568.118
INFO:tensorflow:loss = 3.7600505, step = 1301 (0.177 sec)
INFO:tensorflow:global_step/sec: 501.138
INFO:tensorflow:loss = 15.821263, step = 1401 (0.199 sec)
INFO:tensorflow:global_step/sec: 519.448
INFO:tensorflow:loss = 0.8034409, step = 1501 (0.193 sec)
INFO:tensorflow:global_step/sec: 571.542
INFO:tensorflow:loss = 34.3463, step = 1601 (0.175 sec)
INFO:tensorflow:global_step/sec: 557.175
INFO:tensorflow:loss = 0.5125595, step = 1701 (0.179 sec)
INFO:tensorflow:global_step/sec: 564.851
INFO:tensorflow:loss = 16.58197, step = 1801 (0.177 sec)
INFO:tensorflow:global_step/sec: 571.481
INFO:tensorflow:loss = 8.89358, step = 1901 (0.176 sec)
INFO:tensorflow:global_step/sec: 533.339
INFO:tensorflow:loss = 5.9304395, step = 2001 (0.190 sec)
INFO:tensorflow:global_step/sec: 544.994
INFO:tensorflow:loss = 3.2825844, step = 2101 (0.180 sec)
INFO:tensorflow:global_step/sec: 571.541
INFO:tensorflow:loss = 0.7234185, step = 2201 (0.177 sec)
INFO:tensorflow:global_step/sec: 540.564
INFO:tensorflow:loss = 3.3567412, step = 2301 (0.183 sec)
INFO:tensorflow:global_step/sec: 573.184
INFO:tensorflow:loss = 1.5954137, step = 2401 (0.176 sec)
INFO:tensorflow:global_step/sec: 561.884
INFO:tensorflow:loss = 9.172392, step = 2501 (0.177 sec)
INFO:tensorflow:global_step/sec: 380.664
INFO:tensorflow:loss = 2.4537687, step = 2601 (0.262 sec)
INFO:tensorflow:global_step/sec: 506.265
INFO:tensorflow:loss = 4.824121, step = 2701 (0.198 sec)
INFO:tensorflow:global_step/sec: 498.671
INFO:tensorflow:loss = 0.33075392, step = 2801 (0.203 sec)
INFO:tensorflow:global_step/sec: 464.936
INFO:tensorflow:loss = 0.93865705, step = 2901 (0.215 sec)
INFO:tensorflow:global_step/sec: 450.289
INFO:tensorflow:loss = 0.8855399, step = 3001 (0.223 sec)
INFO:tensorflow:global_step/sec: 501.704
INFO:tensorflow:loss = 7.17337, step = 3101 (0.197 sec)
INFO:tensorflow:global_step/sec: 529.093
INFO:tensorflow:loss = 19.271374, step = 3201 (0.190 sec)
INFO:tensorflow:global_step/sec: 586.669
INFO:tensorflow:loss = 66.218506, step = 3301 (0.171 sec)
INFO:tensorflow:global_step/sec: 568.282
INFO:tensorflow:loss = 1.1469978, step = 3401 (0.177 sec)
INFO:tensorflow:global_step/sec: 574.827
INFO:tensorflow:loss = 5.8268805, step = 3501 (0.175 sec)
INFO:tensorflow:global_step/sec: 551.028
INFO:tensorflow:loss = 5.746448, step = 3601 (0.179 sec)
INFO:tensorflow:global_step/sec: 573.133
INFO:tensorflow:loss = 163.1591, step = 3701 (0.177 sec)
INFO:tensorflow:global_step/sec: 504.985
INFO:tensorflow:loss = 3.194874, step = 3801 (0.197 sec)
INFO:tensorflow:global_step/sec: 536.204
INFO:tensorflow:loss = 0.5289177, step = 3901 (0.186 sec)
INFO:tensorflow:global_step/sec: 394.205
INFO:tensorflow:loss = 1.8139807, step = 4001 (0.255 sec)
INFO:tensorflow:global_step/sec: 464.961
INFO:tensorflow:loss = 26.934772, step = 4101 (0.213 sec)
INFO:tensorflow:global_step/sec: 460.665
INFO:tensorflow:loss = 4.730323, step = 4201 (0.217 sec)
INFO:tensorflow:global_step/sec: 459.584
INFO:tensorflow:loss = 3.966216, step = 4301 (0.225 sec)
INFO:tensorflow:global_step/sec: 330.245
INFO:tensorflow:loss = 1.942282, step = 4401 (0.297 sec)
INFO:tensorflow:global_step/sec: 492.514
INFO:tensorflow:loss = 2.6061907, step = 4501 (0.202 sec)
INFO:tensorflow:global_step/sec: 544.874
INFO:tensorflow:loss = 13.672869, step = 4601 (0.183 sec)
INFO:tensorflow:global_step/sec: 454.371
INFO:tensorflow:loss = 11.882773, step = 4701 (0.219 sec)
INFO:tensorflow:global_step/sec: 595.422
INFO:tensorflow:loss = 6.0735297, step = 4801 (0.169 sec)
INFO:tensorflow:global_step/sec: 554.08
INFO:tensorflow:loss = 10.108932, step = 4901 (0.180 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\raprabhu\AppData\Local\Temp\tmp3e0xg364\model.ckpt.
INFO:tensorflow:Loss for final step: 0.69251186.

In [29]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

In [30]:
dnn_model.evaluate(input_fn=eval_input_func)

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2019-04-23T13:54:57Z
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\raprabhu\AppData\Local\Temp\tmpizybqwt8\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2019-04-23-13:55:00
INFO:tensorflow:Saving dict for global step 1000: accuracy = 0.80264103, accuracy_baseline = 0.7582148, auc = 0.87696564, auc_precision_recall = 0.69390553, average_loss = 0.3769602, global_step = 1000, label/mean = 0.24178524, loss = 3.769216, precision = 0.7535047, prediction/mean = 0.26561618, recall = 0.27307367
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 1000: C:\Users\raprabhu\AppData\Local\Temp\tmpizybqwt8\model.ckpt-1000

{'accuracy': 0.80264103,
 'accuracy_baseline': 0.7582148,
 'auc': 0.87696564,
 'auc_precision_recall': 0.69390553,
 'average_loss': 0.3769602,
 'label/mean': 0.24178524,
 'loss': 3.769216,
 'precision': 0.7535047,
 'prediction/mean': 0.26561618,
 'recall': 0.27307367,
 'global_step': 1000}

In [31]:
predictions = list(model.predict(input_fn=pred_fn))
predictions[0]

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\raprabhu\AppData\Local\Temp\tmp3e0xg364\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

{'logits': array([-5.0538917], dtype=float32),
 'logistic': array([0.00634399], dtype=float32),
 'probabilities': array([0.99365604, 0.00634394], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object)}

In [32]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [33]:
final_preds

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [34]:
from sklearn.metrics import classification_report

In [35]:
print(classification_report(y_test,final_preds))

              precision    recall  f1-score   support

           0       0.85      0.93      0.88      7407
           1       0.67      0.47      0.55      2362

   micro avg       0.82      0.82      0.82      9769
   macro avg       0.76      0.70      0.72      9769
weighted avg       0.80      0.82      0.80      9769

# Accuracy # 80%

# Both Methods giving 80% Accuracy

In [36]:

df = pd.DataFrame(list(zip(y_test,final_preds)), 
               columns =['Actual', 'Predicted']) 
df=pd.DataFrame(list(zip(X_test,y_test,final_preds)))

In [37]:
X_test.insert(loc=0, column='Actual', value=y_test)

In [38]:
X_test.insert(loc=0, column='Predicted', value=final_preds)

In [39]:
X_test

,Predicted,Actual,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
22278,0,0,27,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,44,United-States
8950,0,0,27,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States
7838,0,0,25,Private,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States
16505,0,0,46,Private,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,1902,40,United-States
19140,0,1,45,Private,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States
12319,0,0,29,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Own-child,White,Male,0,0,75,United-States
28589,0,0,42,Local-gov,HS-grad,9,Separated,Other-service,Not-in-family,Black,Female,0,0,60,?
10000,0,0,34,Private,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,50,United-States
28530,0,1,60,Local-gov,Assoc-voc,11,Divorced,Prof-specialty,Unmarried,White,Male,0,0,40,United-States
24237,0,0,19,Private,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States
12227,0,0,21,Private,Assoc-acdm,12,Never-married,Adm-clerical,Own-child,White,Female,0,0,8,United-States
821,0,0,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,46,United-States
25012,1,1,53,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States
24579,0,0,35,?,HS-grad,9,Married-civ-spouse,?,Other-relative,White,Female,0,0,25,United-States
29295,0,0,51,Local-gov,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States
4763,0,1,31,Federal-gov,Bachelors,13,Divorced,Protective-serv,Not-in-family,White,Male,0,0,50,United-States
10371,0,0,37,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,52,United-States
6964,1,0,29,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,60,India
9907,1,0,68,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,1409,0,15,United-States
30594,0,0,24,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
28635,0,0,46,Private,11th,7,Separated,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States
28819,1,1,53,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Black,Male,7688,0,40,United-States
26980,0,1,54,Private,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
22148,0,0,21,Private,Some-college,10,Never-married,Craft-repair,Not-in-family,White,Male,0,0,55,United-States
21840,1,0,56,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
15334,1,1,35,Self-emp-not-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,65,United-States
20409,0,0,46,Private,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
3695,0,0,36,Self-emp-not-inc,Some-college,10,Divorced,Sales,Unmarried,White,Female,0,0,35,United-States
1523,0,0,20,Private,Some-college,10,Never-married,Farming-fishing,Own-child,White,Female,0,0,40,United-States
14833,0,0,29,Private,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,1408,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31675,0,0,36,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
18494,0,1,47,Private,Some-college,10,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,48,United-States
27010,1,1,42,Self-emp-inc,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States
13082,0,0,30,Private,Some-college,10,Never-married,Craft-repair,Other-relative,White,Male,0,0,55,Ecuador
20565,0,0,25,Private,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States
22398,1,1,39,State-gov,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,5178,0,38,United-States
7272,1,1,49,Local-gov,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,Black,Male,15024,0,40,United-States
11594,0,0,33,Private,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States
29533,0,0,25,Private,11th,7,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States
27684,0,0,71,Private,7th-8th,4,Widowed,Transport-moving,Not-in-family,White,Male,0,0,10,United-States
26639,1,1,35,Federal-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,7298,0,40,United-States
17850,0,0,39,Private,Assoc-acdm,12,Divorced,Other-service,Unmarried,Black,Female,0,0,40,United-States
24393,0,0,23,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,38,United-States
4166,0,0,18,Private,11th,7,Never-married,Other-service,Own-child,White,Female,0,0,20,United-States
23810,0,0,43,Local-gov,Assoc-voc,11,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,22,United-States
12361,0,0,17,Self-emp-not-inc,11th,7,Never-married,Farming-fishing,Own-child,White,Male,0,0,20,United-States
13251,0,0,44,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
19986,0,0,19,?,Some-college,10,Never-married,?,Own-child,White,Male,0,0,22,United-States
3237,0,0,30,Private,Some-college,10,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,Mexico
30468,0,0,38,?,Assoc-voc,11,Never-married,?,Own-child,White,Male,0,0,15,United-States
8843,0,0,46,Private,Assoc-acdm,12,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,47,Cuba
23341,0,1,46,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,48,United-States
8683,0,0,58,Private,HS-grad,9,Widowed,Adm-clerical,Not-in-family,White,Female,0,0,37,United-States
11548,1,0,47,Local-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,45,United-States
25757,0,0,25,Private,Assoc-voc,11,Never-married,Craft-repair,Unmarried,Amer-Indian-Eskimo,Male,0,0,40,United-States
21949,0,1,46,Private,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,2415,35,Philippines
26405,1,1,64,Federal-gov,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,45,?
23236,1,1,54,Self-emp-inc,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Husband,Asian-Pac-Islander,Male,7688,0,40,?
26823,0,0,36,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,United-States
20721,0,0,22,Private,HS-grad,9,Never-married,Adm-clerical,Unmarried,White,Male,0,0,40,United-States

In [40]:
X_test.to_csv('to_compare.csv')